<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/static/img/icon.png"/>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Catalog</title>
</head>
<body>
  <div class="wrapper">
    <div class="top">
      <div class="container">
        <div class="product_range padding-site">
          <div class="header ">
              <a class="logo" href="/"><img src="/static/img/logo.svg" alt="logo"></a>
              <ul class="menu">
                  <li><a href="/" class="menu-link">HOME </a></li>
                  <li><a href="#" class="menu-link-active menu-link">PRODUCTS </a></li>
                  <li><a href="#" class="menu-link">HISTORY </a></li>
                  <li><a href="#" class="menu-link">SHOWROOM</a></li>
                  <li><a href="/contacts/" class="menu-link">CONTACT</a></li>
                  <li><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a></li>
              </ul>
          </div>
          <span class="header_text">Our Products Range</span>
          </div>
          <ul class="cotalog_menu padding-site">
            <li><a href="#" class="cotalog_menu-link cotalog_menu-link-active">All</a></li>
            <li><a href="#" class="cotalog_menu-link">Home</a></li>
            <li><a href="#" class="cotalog_menu-link">Office</a></li>
            <li><a href="#" class="cotalog_menu-link">Furniture</a></li>
            <li><a href="#" class="cotalog_menu-link">Modern</a></li>
            <li><a href="#" class="cotalog_menu-link">Classic</a></li>
          </ul>
          <div class="trending_items padding-site">
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending1.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending2.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending3.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending4.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending5.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending6.jpg)"></a>
                                        <a class="trending_item" href="#" style="background-image: url(/static/img/trending1.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending2.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending3.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending4.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending5.jpg)"></a>
                    <a class="trending_item" href="#" style="background-image: url(/static/img/trending6.jpg)"></a>
                </div>
                            <a href="#" class="loading"><img src="/static/img/loading.png" alt="loading"></a>
                <div class="exclusive_product">
                <div class="exl_left">
                    <div class="exclusive_text">
                        <h4 class="exclusive-h4">exclusive</h4>
                        <h2 class="exclusive-h2">Fishnet Chair</h2>
                        <p class="exclusive-p">
                            Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.
                        </p>
                        <a href="#" class="button">order us <img class="arrow" src="/static/img/arrow.png" alt="arrow"></a>
                    </div>
                </div>
                <div class="exl_right">
                    <div class="exclusive_text">
                        <h4 class="exclusive-h4">exclusive</h4>
                        <h2 class="exclusive-h2">Fishnet Chair</h2>
                        <p class="exclusive-p">
                            Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                        </p>
                        <a href="#" class="button">order us <img class="arrow" src="/static/img/arrow.png" alt="arrow"></a>
                    </div>
                </div>
            </div>
      </div>
</div>     
        <div class="container"> 
  <div class="footer padding-site">
  
      <div class="footer-top">
          <div class="contact">
              <h3 class="footer-h3">CONTACT US</h3>
              <p class="contact-p">132A Bridge Road Richmand VIC Australia<br> <br>Talk to us on 1300132 info@interior.com</p>
          </div>
          <div class="useful">
              <h3 class="footer-h3">USEFUL INFORMATION</h3>
              <div class="mini-menu">
                  <div class="menu-mini right-margin">
                      <a href="#">SALES TERMS</a>
                      <a href="#">CUSTOMER CARE</a>
                      <a href="#">DELIVERY</a>
                  </div>
                  <div class="menu-mini">
                      <a href="#">ARCHITECT ACCOUNTS</a>
                      <a href="#">CAREERS</a>
                      <a href="#">EXCHANGES & RETURNS</a>
                  </div>
              </div>

          </div>
          <div class="touch">
              <h3 class="footer-h3">LET'S STAY IN TOUCH</h3>
              <p class="contact-p">Subscribe to know about our latest news, products and spoecial offers just for subscribers.</p>
              <form class="email-form" action="#">
                  <input class="contact-email" type="text" placeholder="your email adress">
                  <input class="email-button" type="submit" value="">
              </form>
          </div>
      </div>
      <div class="footer-bottom">
          <div class="copyright">
              <p>&copy; COPYRIGHT - INTERIOR 2016.ALL RIGHTS RESERVED</p>
          </div>
          <div class="s-links">
              <a href="#"><img src="/static/img/social-links.png" alt="links"></a>
          </div>
          <div class="terms">
              <a href="#">TERMS & CONDITIONS/PRIVACY POLICY & COOKIES</a>
          </div>
      </div>
  </div>
  </div>
    </div>
</body>
</html>
